{% extends "base.html" %}
{% block content %}
<h1>Open Source Text Analysis</h1>
<p>
This is a text analysis application, capable of performing common NLP tasks through the API and a web dashboard. 

<br>It has been created as part of the GSOC 2018, by Giannis Daras and Markos Gogoulos. We are very happy to release it as an open source package. 
<br>
Currently Greek language is supported, but we plan to add English and German very soon. 
</p>
NLP tasks are performed through spaCy.io NLP framework. Web application used is Django. 
<br>For text summarization we use gensim's implementation of the TextRank algorithm. 
<br>
The Greek language support contains a text classifier that we've built with FastText. 
<br>It is trained in 20.000 articles labeled in the following categories:
<br><br>
Αθλητισμός, Ελλάδα, Επιστήμη, Κόσμος, Οικονομία, Περιβάλλον, Πολιτική, Τέχνες, Υγεία 
<br><br>and it attempts to classify a greek text provided on one of these categories. 

<br>

    <main>
    </main>

    {% endblock %}
